<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" href="/static/css/font-awesome.min.css" /> -->
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
	<link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %}</title>
</head>
	<!-- Navigation -->
	<div class="main-nav">
		<div class="container">
			<header class="group top-nav">
			    <nav id="navbar-1" class="navbar item-navbar">
				    <ul>
				        <li><a href="/#about">About</a></li>
				        <li><a href="/#experiences">Experiences</a></li>
				        <li><a href="/#achievements">Achievements</a></li>
				        <li><a href="/#skills">Skills</a></li>
                        <li><a href="/blog.html">Blog</a></li>
				    </ul>
				</nav>
			</header>
		</div>
    </div>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <!-- Javascript -->
    <!-- <script src="/static/js/jquery.min.js"></script> -->
    <!-- <script src="/static/js/typed.min.js"></script> -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="/static/js/site.js"></script> -->
    <!-- <script>
                function newTyped(){}$(function(){$("#typed").typed({
                // Change to edit type effect
                strings: ["developer",],

                typeSpeed:90,backDelay:700,contentType:"html",loop:!0,resetCallback:function(){newTyped()}}),$(".reset").click(function(){$("#typed").typed("reset")})});
    </script> -->
</body>
</html>
