{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" href="/static/css/blog.css" />
<script src="/static/js/blog.js" defer></script>
{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}
    <br>
    <h1>blog</h1>
    <br>
    <div class="search-container">
        <input 
            type="text" 
            id="searchInput" 
            placeholder="Search posts"
            class="search-input"
        >
    </div>
    <div class="posts-list">
    {% for post in posts %}
        <div class="card post-item">
            <div class="card-body">
                <h2 class="post-title">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
                <p class="text-muted">{{ post.excerpt }}</p>
            </div>
        </div>
        <br>
    {% endfor %}
    </div>
{% endblock%}
