{% extends 'base.html' %}
{% block title %}Blog{% endblock %}

{% block content %}
    <br>
    <h1>Welcome to the blog</h1>
    <a href="{{ url_for('create') }}">Create New Note</a>
    <br>
    <br>

    {% for post in posts %}
    <div class="card">
        <div class="card-body">
            <span class="badge badge-primary">{{ post['id'] }}.</span>
            <span class="badge badge-default">{{ post['created'] }}</span>
            <hr>
            <p>{{ post['content'] | safe }}</p>
        </div>
    </div>
    <br>
    {% endfor %}
{% endblock%}