{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<p>Daniel T. </p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="" alt="Avatar">
				</div>
				<!-- <div class="unit-80">
					<h1>I am <br><span id="typed"></span></h1>
                </div> -->
				<p>
					My name is Daniel and I'm Software Engineer based in the San Francisco Bay Area.

                    I studied Computer Science, Robotics, and Artificial Intelligence at Arizona State University.
				</p>
			</div>
		</div>
	</div>

	<!-- Work Experience -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>Projects & Experiences</h1>
			<ul class="work-list">
				<li>2024-Present</li>
                <li>General Dynamics Mission Systems</li>
				<ul>
                    Software Engineer (2025-2026)
                    <li>Developed...</li>
                    Software Engineer Intern (2024)
                    <li>Developed Qt application to monitor different maintenance devices.</li>
                    <li>*point about service development/messaging/database*</li>
                </ul>
			</ul>
			<ul class="work-list">
				<li>2023-2024</li>
				<li><a href="https://fsae.engineering.asu.edu">Sun Devil Motorsports</a></li>
				<li>Data Acquisition</li>
			</ul>
			<ul class="work-list">
				<li>2022</li>
				<li><a href="#">Stock Risk Evaluator</a></li>
				<li>TODO: Add bullet points for each item</li>
			</ul>
			<ul class="work-list">
				<li>2014-2015</li>
				<li><a href="#">Project Management App</a></li>
				<li>Vue.js</li>
			</ul>
		</div>
	</div>

	<!-- Award & Achievements -->
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>Award &amp;<br>Achievements</h1>
			<ul class="award-list list-flat">
				<li>2021-2025</li>
				<li>Ira A. Fulton Deans List</li>
				<li>New American University - Provost's Award Scholarship</li>
			</ul>
		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Technical<br>Skills</h1>
			<ul class="skill-list list-flat">
				<li>Coding Languages</li>
				<li>C++ | Python | C# | SQL</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Other Tools</li>
				<li>AWS | Docker | Git | Linux | MATLAB </li>
			</ul>
		</div>
	</div>

	<!-- Quote -->
	<div class="quote">
		<div class="container text-centered">
			<h1 style="color:black;">fill with something :)</h1>
		</div>
	</div>

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>Links</p>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
						<li><a href="https://github.com/dtjandra888"><i class="fa fa-github"></i></a></li>
						<li><a href="https://www.linkedin.com/in/daniel-tjandra/"><i class="fa fa-linkedin"></i></a></li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>


{% endblock %}
