{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Introduction -->
	<div class="intro section" id="about">
		<div class="container">
			<p>Daniel T. </p>
			<div class="units-row units-split wrap">
				<div class="unit-20">
					<img src="/static/img/debian_icon.png" alt="Avatar">
				</div>
				<!-- <div class="unit-80">
					<h1>I am <br><span id="typed"></span></h1>
                </div> -->
				<p>
					My name is Daniel and I'm Software Engineer based in the San Francisco Bay Area.

                    I studied Computer Science, Robotics, and Artificial Intelligence at Arizona State University.
				</p>
			</div>
		</div>
	</div>

	<!-- Work Experience -->
	<div class="work section second" id="experiences">
		<div class="container">
			<h1>Projects & Experiences</h1>
			<ul class="work-list">
				<li>2024-Present</li>
                <li>General Dynamics Mission Systems</li>
				<ul>
                    Software Engineer (2025-2026)
                    <li>Developed...(redacted)</li>
                    Software Engineer Intern (2024)
                    <li>Developed Qt application to monitor different maintenance devices.</li>
                    <li>Contributed to mutiple windows services that interacted with Qt client application through messaging protocols.</li>
                    <li>Maintained various SQL scripts used for data storage and configuration</li>
                </ul>
			</ull
			<ul class="work-list">
				<li>2023-2024</li>
				<li><a href="https://fsae.engineering.asu.edu" target="_blank">Sun Devil Motorsports</a></li>
				<ul>
                    Data Acquisition
                    <li>C++ software to read data from sensors and micro-controllers</li>
                    <li>Wrote logger to write data bits to SD card</li>
                </ul>
			</ul>
			<ul class="work-list">
				<li>2022</li>
				<li><a href="#" target="_blank">Stock Risk Evaluator</a></li>
				<li>Python Software which performs technical analysis on securities inputted by user</li>
			</ul>
		</div>
	</div>

	<!-- Award & Achievements -->
	<div class="award section second" id="achievements">
		<div class="container">
			<h1>Award &amp;<br>Achievements</h1>
			<ul class="award-list list-flat">
				<li>2021-2025</li>
				<li>Ira A. Fulton Deans List</li>
				<li>New American University - Provost's Award Scholarship</li>
			</ul>
		</div>
	</div>

	<!-- Technical Skills -->
	<div class="skills section second" id="skills">
		<div class="container">
			<h1>Technical<br>Skills</h1>
			<ul class="skill-list list-flat">
				<li>Coding Languages</li>
				<li>C++ | Python | C# | SQL</li>
			</ul>
			<ul class="skill-list list-flat">
				<li>Other Tools</li>
				<li>AWS | Docker | Git | Linux | MATLAB </li>
			</ul>
		</div>
	</div>

	<!-- Quote -->
	<!-- <div class="quote">
		<div class="container text-centered">
			<h1 style="color:black;">fill with something :)</h1>
		</div>
    </div> -->

	<footer>
		<div class="container">
			<div class="units-row">
			    <div class="unit-50">
			    	<p>Links</p>
			    </div>
			    <div class="unit-50">
					<ul class="social list-flat right">
                        <!--<li><a href="https://github.com/dtjandra888"><i class="bi bi-github"></i></a></li>-->
						<li>
                            <a href="https://github.com/dtjandra888" class="link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                </svg>
                            </a>
                        </li>
                        <!-- <li><a href="https://www.linkedin.com/in/daniel-tjandra/"><i class="fa fa-linkedin"></i></a></li> -->
                        <li>
                            <a href="https://www.linkedin.com/in/daniel-tjandra/" class="link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                                    <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854zm4.943 12.248V6.169H2.542v7.225zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248S2.4 3.226 2.4 3.934c0 .694.521 1.248 1.327 1.248zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016l.016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225z"/>
                                </svg>
                            </a>
                        </li>
					</ul>
			    </div>
			</div>
		</div>
	</footer>

{% endblock %}
